.golferstatsitem-info-container {margin: 0.25rem auto 1.25rem auto;}
.golferstatsitem-info-container-row {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.golferstatsitem-info-container div {font-family: "Varela Round";text-align: center; place-self: center;}

.golferstatsitem-info-container-row {border-bottom: 1px dashed #bbb; width: 80%;}
.golferstatsitem-info-container-row:nth-child(5) {border-bottom: none;}

.golferstatsitem-info-label {font-size: 0.7rem;font-weight: bold;}
.golferstatsitem-info {font-size: 0.8rem;padding:0.25rem 0;}




@media only screen and (min-width: 350px) {
	.golferstatsitem-info-label {font-size:0.75rem;}
	.golferstatsitem-info {font-size:0.875rem;}
}

@media only screen and (min-width: 450px) {
	.golferstatsitem-info-label {font-size:0.8rem;}
	.golferstatsitem-info {font-size:0.95rem;}
}

@media only screen and (min-width: 550px) {
	.golferstatsitem-info-label {font-size:0.85rem;}
	.golferstatsitem-info {font-size:1.025rem;}
}