.pga-leaderboard-item-labels {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	text-align: center;
}
.pga-leaderboard-item-labels div{font-family: "Varela Round";place-self: center;}
.pga-leaderboard-item-labels-rank {grid-area: 1/1/2/4;font-size: 0.85rem;font-weight: bold;}
.pga-leaderboard-item-labels-teamname {grid-area: 1/4/2/14;font-size: 1rem;font-weight: bold;}
.pga-leaderboard-item-labels-totaltopar {grid-area: 1/14/2/17;font-size: 0.85rem;font-weight: bold;}
.pga-leaderboard-item-labels-todaythru {grid-area: 1/17/2/19;font-size: 0.6rem;}
.pga-leaderboard-item-labels-usage {grid-area: 1/19/2/21;font-size: 0.6rem;}




@media only screen and (min-width: 350px) {
    .pga-leaderboard-item-labels-teamname {font-size: 1.05rem;}
}

@media only screen and (min-width: 450px) {
    .pga-leaderboard-item-labels-rank {font-size: 0.95rem;}
    .pga-leaderboard-item-labels-teamname {font-size: 1.15rem;}
    .pga-leaderboard-item-labels-totaltopar {font-size: 0.95rem;}
    .pga-leaderboard-item-labels-todaythru {font-size: 0.65rem;}
    .pga-leaderboard-item-labels-usage {font-size: 0.65rem;}
}

@media only screen and (min-width: 550px) {
    .pga-leaderboard-item-labels-rank {font-size: 1.05rem;}
    .pga-leaderboard-item-labels-teamname {font-size: 1.25rem;}
    .pga-leaderboard-item-labels-totaltopar {font-size: 1.05rem;}
    .pga-leaderboard-item-labels-todaythru {font-size: 0.75rem;}
    .pga-leaderboard-item-labels-usage {font-size: 0.75rem;}
}