@media only screen and (min-width: 350px) {
    .golferstats-explanation {
        font-size: 0.75rem;
    }

    .golferstats-rank-label {
        font-size: 0.85rem;
    }

    .golferstats-name-label {
        font-size: 1.15rem;
    }

    .golferstats-rating-label {
        font-size: 0.85rem;
    }
}

@media only screen and (min-width: 450px) {
    .golferstats-header {
        font-size: 3.3rem;
    }

    .golferstats-explanation {
        font-size: 0.85rem;
    }

    .golferstats-rank-label {
        font-size: 0.9rem;
    }

    .golferstats-name-label {
        font-size: 1.2rem;
    }

    .golferstats-rating-label {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 550px) {
    .golferstats-header {
        font-size: 3.8rem;
    }

    .golferstats-explanation {
        font-size: 0.9rem;
    }

    .golferstats-rank-label {
        font-size: 1rem;
    }

    .golferstats-name-label {
        font-size: 1.4rem;
    }

    .golferstats-rating-label {
        font-size: 1rem;
    }
}