@media only screen and (min-width: 350px) {
	.leaderboard-item-maininfo-rank {font-size: 0.925rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.1rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 0.8rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 0.7rem;}
}

@media only screen and (min-width: 450px) {
	.leaderboard-item-maininfo-rank {font-size: 1.05rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.225rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1.15rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 0.975rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 0.875rem;}
}

@media only screen and (min-width: 550px) {
	.leaderboard-item-maininfo-rank {font-size: 1.15rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.35rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1.25rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 1.1rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 1rem;}
}