

@media only screen and (min-width: 350px) {
    .leaderboard-header-tourneyname {
        font-size: 1.55rem;
    }

    .leaderboard-header-tourneydate {
        font-size: 1.1rem;
    }

    .leaderboard-header-tourneycity {
        font-size: 0.85rem;
    }

    .leaderboard-header-tourneycourse {
        font-size: 0.85rem;
    }

    .leaderboard-header-tourneypar {
        font-size: 0.7rem;
    }

    .leaderboard-header-live-button,
    .leaderboard-header-tournament-toggle {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 450px) {
    .leaderboard-header-tourneyname {
        font-size: 1.75rem;
    }

    .leaderboard-header-tourneydate {
        font-size: 1.25rem;
    }

    .leaderboard-header-tourneycity {
        font-size: 1rem;
    }

    .leaderboard-header-tourneycourse {
        font-size: 1rem;
    }

    .leaderboard-header-tourneypar {
        font-size: 0.85rem;
    }

    .leaderboard-header-live-button,
    .leaderboard-header-tournament-toggle {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 550px) {
    .leaderboard-header-tourneyname {
        font-size: 2rem;
    }

    .leaderboard-header-tourneydate {
        font-size: 1.4rem;
    }

    .leaderboard-header-tourneycity {
        font-size: 1.2rem;
    }

    .leaderboard-header-tourneycourse {
        font-size: 1.2rem;
    }

    .leaderboard-header-tourneypar {
        font-size: 1rem;
    }

    .leaderboard-header-live-button,
    .leaderboard-header-tournament-toggle {
        font-size: 1.1rem;
    }
}