
@media only screen and (min-width: 350px) {
	.pga-leaderboarditem-info-roundrow {
		margin: 0 0 0.5rem 0;
	}

	.pga-leaderboarditem-info-labelrow div {
		font-size: 0.65rem;
	}

	.pga-leaderboarditem-info-roundrow div {
		font-size: 0.8rem;
	}
}

@media only screen and (min-width: 450px) {
	.pga-leaderboarditem-info-roundrow {
		margin: 0 0 0.75rem 0;
	}

	.pga-leaderboarditem-info-labelrow div {
		font-size: 0.825rem;
	}

	.pga-leaderboarditem-info-roundrow div {
		font-size: 0.975rem;
	}
}

@media only screen and (min-width: 550px) {
	.pga-leaderboarditem-info-roundrow {
		margin: 0 0 1rem 0;
	}

	.pga-leaderboarditem-info-labelrow div {
		font-size: 0.95rem;
	}

	.pga-leaderboarditem-info-roundrow div {
		font-size: 1.1rem;
	}
}