
@media only screen and (min-width: 350px) {
	.pga-leaderboard-item-maininfo-rank {font-size: 0.925rem;}
	.pga-leaderboard-item-maininfo-teamname {font-size: 1.1rem;}
	.pga-leaderboard-item-maininfo-totaltopar {font-size: 1rem;}
	.pga-leaderboard-item-maininfo-todaythru {font-size: 0.7rem;}
	.pga-leaderboard-item-maininfo-usage {font-size: 0.6rem;}
}

@media only screen and (min-width: 450px) {
	.pga-leaderboard-item-maininfo-rank {font-size: 1.05rem;}
	.pga-leaderboard-item-maininfo-teamname {font-size: 1.225rem;}
	.pga-leaderboard-item-maininfo-totaltopar {font-size: 1.15rem;}
	.pga-leaderboard-item-maininfo-todaythru {font-size: 0.875rem;}
	.pga-leaderboard-item-maininfo-usage {font-size: 0.775rem;}
}

@media only screen and (min-width: 550px) {
	.pga-leaderboard-item-maininfo-rank {font-size: 1.15rem;}
	.pga-leaderboard-item-maininfo-teamname {font-size: 1.35rem;}
	.pga-leaderboard-item-maininfo-totaltopar {font-size: 1.25rem;}
	.pga-leaderboard-item-maininfo-todaythru {font-size: 1rem;}
	.pga-leaderboard-item-maininfo-usage {font-size: 0.9rem;}
}