
@media only screen and (min-width: 350px) {
    a.seasonsignupbutton{
        font-size: 1.25rem;
        font-weight: 800;
    }
}

@media only screen and (min-width: 400px) {
    a.seasonsignupbutton{
        font-size: 1.4rem;
        font-weight: 800;
    }
}

@media only screen and (min-width: 550px) {
    a.seasonsignupbutton{
        font-size: 1.65rem;
        font-weight: 800;
    }
}
