.pga-leaderboarditem-info-container {margin: 0.25rem auto 1.25rem auto;}
.pga-leaderboarditem-info-container-row {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.pga-leaderboarditem-info-roundrow {margin: 0 0 0.25rem 0;}

.pga-leaderboarditem-info-container div {font-family: "Varela Round";text-align: center; place-self: center;}
.pga-leaderboarditem-info-labelrow div {font-size: 0.55rem;font-weight: bold;}
.pga-leaderboarditem-info-roundrow div {font-size: 0.7rem;padding:0.25rem 0;}



@media only screen and (min-width: 350px) {
	.pga-leaderboarditem-info-roundrow {margin: 0 0 0.5rem 0;}
	.pga-leaderboarditem-info-labelrow div {font-size: 0.65rem;}
	.pga-leaderboarditem-info-roundrow div {font-size: 0.8rem;}
}

@media only screen and (min-width: 450px) {
	.pga-leaderboarditem-info-roundrow {margin: 0 0 0.75rem 0;}
	.pga-leaderboarditem-info-labelrow div {font-size: 0.825rem;}
	.pga-leaderboarditem-info-roundrow div {font-size: 0.975rem;}
}

@media only screen and (min-width: 550px) {
	.pga-leaderboarditem-info-roundrow {margin: 0 0 1rem 0;}
	.pga-leaderboarditem-info-labelrow div {font-size: 0.95rem;}
	.pga-leaderboarditem-info-roundrow div {font-size: 1.1rem;}
}