/* Overall Grid Formatting */

#standings-header {
    font-size:3rem;
    padding: 0 0 1rem 0;
    margin:0 0 1.5rem 0;
    font-family:"Yellowtail";
    text-align: center;
    line-height:3rem;
    border-bottom: 3px solid #bbb;
}

.standings-helpertext {
	font-size: 0.65rem;
	color: #999;
    text-align: center;
}

#standings-container {margin: 1rem 0;}
.standings-labels {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	text-align: center;
}
.standings-labels div{font-family: "Varela Round";place-self: center;}
.standings-labels-rank {grid-area: 1/1/2/4;font-size: 0.85rem;font-weight: bold;}
.standings-labels-name {grid-area: 1/4/2/14;font-size: 1rem;font-weight: bold;}
.standings-labels-points {grid-area: 1/14/2/18;font-size: 0.75rem;font-weight: bold;}
.standings-labels-earnings {grid-area: 1/18/2/21;font-size: 0.7rem;}




@media only screen and (min-width: 350px) {
    .standings-helpertext {font-size: 0.75rem;}
    .standings-labels-name {font-size: 1.15rem;}
}

@media only screen and (min-width: 450px) {
    #standings-header {font-size: 3.3rem;}
    .standings-helpertext {font-size: 0.85rem;}
    .standings-labels-rank {font-size: 1rem;}
    .standings-labels-name {font-size: 1.2rem;}
    .standings-labels-points {font-size: 0.9rem;}
    .standings-labels-earnings {font-size: 0.8rem;}
}

@media only screen and (min-width: 550px) {
    #standings-header {font-size: 3.8rem;}
    .standings-helpertext {font-size: 0.9rem;}
    .standings-labels-rank {font-size: 1.05rem;}
    .standings-labels-name {font-size: 1.4rem;}
    .standings-labels-points {font-size: 1rem;}
    .standings-labels-earnings {font-size: 0.9rem;}
}