/* Overall Grid Formatting */

#standings-header {
    font-size:3rem;
    padding: 0 0 1rem 0;
    margin:0 0 1.5rem 0;
    font-family:"Yellowtail";
    text-align: center;
    line-height:3rem;
    border-bottom: 3px solid #bbb;
}

.standings-helpertext {
	font-size: 0.6rem;
	color: #999;
    text-align: center;
}

#standings-container {margin: 1rem 0;}
.standings-item-labels {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	text-align: center;
}
.standings-item-labels div{font-family: "Varela Round";place-self: center;}
.standings-item-labels-rank {grid-area: 1/1/2/4;font-size: 0.85rem;font-weight: bold;}
.standings-item-labels-name {grid-area: 1/4/2/14;font-size: 1rem;font-weight: bold;}
.standings-item-labels-points {grid-area: 1/14/2/18;font-size: 0.75rem;font-weight: bold;}
.standings-item-labels-earnings {grid-area: 1/18/2/21;font-size: 0.7rem;}

