.countdown-timer {
    margin: 2rem auto;
    padding: 1rem 0.25rem;
    border-radius: 2rem;
    background: #f9f9f9;
}


.countdown-timer-container {
    padding: 1rem 0;
    text-align: center;
}

.countdown-timer-container > h1 {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Varela Round";
}

.row-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
}

.tourney_logo > img {
    width: 100px;
    height: 100px;
}

.countdown-timer-div {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Varela Round";
}

.mini-timer-labels {
    font-size: 0.575rem;
}


@media only screen and (min-width: 350px) { 
    .countdown-timer-container > h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .tourney_logo > img {
        width: 125px;
        height: 125px;
    }

    .countdown-timer-div {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .mini-timer-labels {
        font-size: 0.65rem;
    }
}

@media only screen and (min-width: 400px) { 
    .countdown-timer-container > h1 {
        font-size: 2.15rem;
        font-weight: 700;
    }

    .tourney_logo > img {
        width: 140px;
        height: 140px;
    }

    .countdown-timer-div {
        font-size: 2rem;
        font-weight: 600;
    }

    .mini-timer-labels {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 550px) { 
    .countdown-timer-container > h1 {
        font-size: 2.35rem;
        font-weight: 700;
        padding: 0 20px;
    }

    .tourney_logo > img {
        width: 160px;
        height: 160px;
    }

    .countdown-timer-div {
        font-size: 2.15rem;
        font-weight: 600;
    }

    .mini-timer-labels {
        font-size: 0.85rem;
    }
}