
/* Overall Grid Formatting */

.golferstats-header {
    font-size:3rem;
    padding: 0 0 1rem 0;
    margin:0 0 1.5rem 0;
    font-family:"Yellowtail";
    text-align: center;
    line-height:3rem;
    border-bottom: 3px solid #bbb;
}
.golferstats-explanation {font-family:"Varela Round";font-size:0.75rem;place-self:center;text-align: center;}

.golferstats-labels { 
    margin: 2rem 0 0.25rem 0;
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:repeat(8,1fr);
    text-align:center;
    padding: 0;
}
.golferstats-rank-label {grid-area:1/1/2/2;font-size:0.75rem;font-weight:800;font-family:"Varela Round";place-self:center;}
.golferstats-name-label {grid-area:1/2/2/7;font-size:1rem;font-weight:800;font-family:"Varela Round";place-self:center;}
.golferstats-rating-label {grid-area:1/7/2/9;font-size:0.75rem;font-weight:800;font-family:"Varela Round";place-self:center;}





@media only screen and (min-width: 350px) {
    .golferstats-explanation {font-size:0.75rem;}
    .golferstats-rank-label {font-size:0.85rem;}
    .golferstats-name-label {font-size:1.15rem;}
    .golferstats-rating-label {font-size:0.85rem;}
}

@media only screen and (min-width: 450px) {
    .golferstats-header {font-size:3.3rem;}
    .golferstats-explanation {font-size:0.85rem;}
    .golferstats-rank-label {font-size:0.9rem;}
    .golferstats-name-label {font-size:1.2rem;}
    .golferstats-rating-label {font-size:0.9rem;}
}

@media only screen and (min-width: 550px) {
    .golferstats-header {font-size:3.8rem;}
    .golferstats-explanation {font-size:0.9rem;}
    .golferstats-rank-label {font-size:1rem;}
    .golferstats-name-label {font-size:1.4rem;}
    .golferstats-rating-label {font-size:1rem;}
}