@font-face {
    font-family: "yellowtail";
    src: url("./fonts/yellowtail/Yellowtail-Regular.otf");
}
@font-face {
    font-family: "varelaround";
    src: url("./fonts/Varela_Round/VarelaRound-Regular.ttf");
}