.champion-alert-container {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(10, 1fr);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
    background: rgba(212,175,55,0.25);
    border-radius: 2rem;
}
.champion-alert-container div {
    font-family: "Varela Round";
}

.champion-alert-header {
    grid-area: 1/4/2/11;
    font-size: 1.2rem;
    font-weight: 600;
}
.champion-alert-tourneylogo {
    grid-area: 1/1/4/4;
}
.champion-alert-tourneylogo img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.champion-alert-champname {
    grid-area: 2/4/4/8;
    font-size: 1.5rem;
    font-weight: 700;
}
.champion-alert-teamscore {
    grid-area: 2/8/4/11;
    font-size: 1.35rem;
    font-weight: 800;
}



.champion-alert-golferone {
    grid-area: 4/1/5/3;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golfertwo {
    grid-area: 4/3/5/5;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golferthree {
    grid-area: 4/5/5/7;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golferfour {
    grid-area: 4/7/5/9;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golferfive {
    grid-area: 4/9/5/11;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golfersix {
    grid-area: 5/1/6/3;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golferseven {
    grid-area: 5/3/6/5;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golfereight {
    grid-area: 5/5/6/7;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golfernine {
    grid-area: 5/7/6/9;
    font-size:0.7rem;
    font-weight: 600;
}
.champion-alert-golferten {
    grid-area: 5/9/6/11;
    font-size:0.7rem;
    font-weight: 600;
}