/* Leaderboard Grid Formatting */

.leaderboard-item-maininfo {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	text-align: center;
	padding: 0.25rem 0;
	border-top: 1px dashed #ccc;
}

.leaderboard-item-maininfo div {font-family: "Varela Round";place-self: center;}
.leaderboard-item-maininfo-rank {grid-area: 1/1/2/4;font-size: 0.85rem;}
.leaderboard-item-maininfo-teamname {grid-area: 1/4/2/14;font-size: 1rem;}
.leaderboard-item-maininfo-totaltopar {grid-area: 1/14/2/17;font-size: 0.9rem;}
.leaderboard-item-maininfo-todaytopar {grid-area: 1/17/2/19;font-size: 0.7rem;}
.leaderboard-item-maininfo-todaythru {grid-area: 1/19/2/21;font-size: 0.6rem;}



@media only screen and (min-width: 350px) {
	.leaderboard-item-maininfo-rank {font-size: 0.925rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.1rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 0.8rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 0.7rem;}
}

@media only screen and (min-width: 450px) {
	.leaderboard-item-maininfo-rank {font-size: 1.05rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.225rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1.15rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 0.975rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 0.875rem;}
}

@media only screen and (min-width: 550px) {
	.leaderboard-item-maininfo-rank {font-size: 1.15rem;}
	.leaderboard-item-maininfo-teamname {font-size: 1.35rem;}
	.leaderboard-item-maininfo-totaltopar {font-size: 1.25rem;}
	.leaderboard-item-maininfo-todaytopar {font-size: 1.1rem;}
	.leaderboard-item-maininfo-todaythru {font-size: 1rem;}
}