
.tournament-leaderboard-slot-labels {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(11, 1fr);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1em;
	font-weight: bold;
	font-family: "Varela Round";
}

.tournament-leaderboard-rank-label {
	grid-area: 1/1/2/2;
	font-size: 0.85rem;
	font-family: "Varela Round";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-teamname-label {
	grid-area: 1/2/2/8;
	font-size: 1rem;
	font-family: "Varela Round";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-totaltopar-label {
	grid-area: 1/8/2/10;
	font-size: 1rem;
	font-family: "Varela Round";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-todaytopar-label {
	grid-area: 1/10/2/11;
	font-size: 0.7rem;
	font-family: "Varela Round";
	place-self: center;
}
.tournament-leaderboard-todaythru-label {
	grid-area: 1/11/2/12;
	font-size: 0.7rem;
	font-family: "Varela Round";
	place-self: center;
}
