.standings-item-container:nth-child(37) .standings-item-maininfo {
	border-top: 3px solid #444;
}

.standings-item-maininfo {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	text-align: center;
	padding: 0.25rem 0;
	border-top: 1px dashed #ccc;
}

.standings-item-maininfo div {font-family: "Varela Round";place-self: center;}
.standings-item-maininfo-rank {grid-area: 1/1/2/4;font-size: 0.85rem;}
.standings-item-maininfo-name {grid-area: 1/4/2/14;font-size: 1rem;}
.standings-item-maininfo-points {grid-area: 1/14/2/18;font-size: 0.9rem;}
.standings-item-maininfo-earnings {grid-area: 1/18/2/21;font-size: 0.65rem;}

.little-fucker > img {
	height: 1.8rem;
	margin: 0 2px;
}
.little-fucker:first-child {
	margin-left: 6px;
}

@media only screen and (min-width: 350px) {
	.standings-item-maininfo-rank {font-size: 0.925rem;}
	.standings-item-maininfo-name {font-size: 1.1rem;}
	.standings-item-maininfo-points {font-size: 1rem;}
	.standings-item-maininfo-earnings {font-size: 0.75rem;}
}

@media only screen and (min-width: 450px) {
	.standings-item-maininfo-rank {font-size: 1.05rem;}
	.standings-item-maininfo-name {font-size: 1.225rem;}
	.standings-item-maininfo-points {font-size: 1.15rem;}
	.standings-item-maininfo-earnings {font-size: 0.85rem;}
}

@media only screen and (min-width: 550px) {
	.standings-item-maininfo-rank {font-size: 1.15rem;}
	.standings-item-maininfo-name {font-size: 1.35rem;}
	.standings-item-maininfo-points {font-size: 1.25rem;}
	.standings-item-maininfo-earnings {font-size: 1.05rem;}
}