.countdown-timer-container {
    margin: 2rem;
    text-align: center;
}

.countdown-timer-container > h1 {
    font-weight: 800;
}

.row-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tourney_logo > img {
    width: 150px;
    height: 150px;
}

.countdown-timer-div {
    font-size: 1.8rem;
    font-weight: 600;
}

.mini-timer-labels {
    font-size: 0.575rem;
}