.home-nav-buttons {
    display: flex;
}

.home-nav-button {
    border: 3px solid var(--primary);
    border-radius: 10px;
    margin: 0.4rem;
    width: 106px;
    margin: auto;
    background: var(--secondary);
}

.home-nav-button > a > img {
    width: 100px;
    height: 100px;
}