
.standings-item-info-extras-container {
    width: 90%;
    margin: auto;
}

.standings-item-info-extras-labels-row {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	padding: 0.4rem 0 0 0;
}
.standings-item-info-extras-labels-row div {font-family: "Varela Round";place-self: center;}
.standings-item-info-extras-wins-label {font-size:0.5rem;font-weight:600;}
.standings-item-info-extras-toptens-label {font-size:0.5rem;font-weight:600;}
.standings-item-info-extras-cutsmade-label {font-size:0.5rem;font-weight:600;}
.standings-item-info-extras-weekdayscoringaverage-label {font-size:0.5rem;font-weight:600;}
.standings-item-info-extras-weekendscoringaverage-label {font-size:0.5rem;font-weight:600;}

.standings-item-info-extras-stats-row {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	padding: 0 0 0.8rem 0;
}
.standings-item-info-extras-stats-row div {font-family: "Varela Round";place-self: center;}
.standings-item-info-extras-wins {font-size:0.75rem;}
.standings-item-info-extras-toptens {font-size:0.75rem;}
.standings-item-info-extras-cutsmade {font-size:0.75rem;}
.standings-item-info-extras-weekdayscoringaverage {font-size:0.75rem;}
.standings-item-info-extras-weekendscoringaverage {font-size:0.75rem;}

.standings-item-info-extras-tourneyhist-row-one {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(8, 1fr);
	text-align: center;
    align-items:flex-end;
	padding: 0.25rem 0;
    border-bottom: 1px dashed #ddd;
    width:90%;
    margin: auto;
}
.standings-item-info-extras-tourneyhist-row-two {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
	padding: 0.25rem 0 1rem 0;
    width:80%;
    margin: auto;
}

.standings-item-info-extras-tourneyhist-tourney {display:grid;align-items:flex-end;justify-items:center;height:100%;border-right: 1px dashed #ddd;}
.standings-item-info-extras-tourneyhist-row-one :nth-child(8) {border-right: none;}
.standings-item-info-extras-tourneyhist-row-two :nth-child(7) {border-right: none;}

.standings-item-info-extras-tourneyhist-tourney-logo img {display: block;max-width: 100%;max-height: 50px;padding:0.2rem;}
.standings-item-info-extras-tourneyhist-tourney-rank {font-family:"Barlow Condensed";font-size: 0.8rem;font-weight: 800;}



@media only screen and (min-width: 1100px) {

    
}