:root {
  --mainDark: #343a40;
  --mainGrey: #6d6d6d;
  --mainLightGrey: #acacac;
  --mainWhite: #fff;
  --mainBlue: #007bff;
  background: #acacac;
}

.main-page-container {
  min-height: 750px;
  padding-top: 2.5rem;;
}