:root {
  --primary: #228b22;
  --secondary: #c1e1c1;
  --tertiary: #90ee90;
  --mainDark: #161616;
  --mainGrey: #6d6d6d;
  --mainLightGrey: #acacac;
  --mainWhite: #fcfcfc;
  --mainBlue: #007bff;
  background: #acacac;
  
}


.main-page-container {
  min-height: 750px;
  padding-top: 2rem;;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}