@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Varela+Round&family=Yellowtail&display=swap");

.grid-span-2 {grid-column: span 2}
.grid-span-4 {grid-column: span 4}
/* 
*{
  color: #555555;
  font: normal 16px Arial, Helvetica, sans-serif; 
  line-height: 1.6em;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: "varelaround";
} */

a {
  text-decoration: none;
}

a:hover {
  text-decoration:none; 
  cursor:pointer;  
}
/* 
:root{
  --hotelcolour: 119, 38, 28;
  --sunviewcolour: 26, 76, 131;
  --mainDark: #161616;
  --mainGrey: #8b8b8b;
  --mainLightGrey: #e2e2e2;
  --mainWhite: #f3f3f3;
  --shadow: 0 1px 5px var(--mainDark);
  --font-size: 9px;
  --embossShadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.15), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);   
} */