.tournament-header-header {
	width: 100%;
	display: grid;
	grid-gap: 5px;
	grid-auto-flow: row;
	grid-template-columns: repeat(10, 1fr);
	text-align: center;
	border-bottom: 2px solid #222;
}

.tournament-header-logo {
	grid-area: 1/1/5/3;
	place-self: center;
}
.tournament-header-logo img {
	display: block;
	max-width: 100%;
	max-height: 125px;
}
.tournament-header-tourneyname {
	grid-area: 1/3/3/8;
	font-size: 1rem;
	font-weight: bolder;
	padding-top: 15px;
	place-self: center;
}
.tournament-header-toggleswitch {
	grid-area: 1/8/2/11;
	font-size: 0.85rem;
	place-self: center;
}
.tournament-header-tourneydate {
	grid-area: 2/8/3/11;
	font-size: 0.85rem;
	place-self: center;
}
.tournament-header-tourneycity {
	grid-area: 3/6/4/9;
	font-size: 0.75rem;
	place-self: center;
}
.tournament-header-tourneycourse {
	grid-area: 3/3/4/6;
	font-size: 0.75rem;
	place-self: center;
}
.tournament-header-tourneypar {
	grid-area: 3/9/4/11;
	font-size: 0.75rem;
	place-self: center;
}
.live-button, .tournament-toggle {
	font-size: 0.75rem;
	color: #000;
	background-color: #bbb;
	border: 1px solid #aaa;
}

@media only screen and (min-width: 450px) {
	.tournament-header-tourneyname {
		font-size: 1.3rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.05rem;
	}
	.tournament-header-tourneycity {
		font-size: 0.85rem;
	}
	.tournament-header-tourneycourse {
		font-size: 0.85rem;
	}
	.tournament-header-tourneypar {
		font-size: 0.85rem;
	}
}


@media only screen and (min-width: 575px) {
	.tournament-header-tourneyname {
		font-size: 1.5453rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.3rem;
	}
	.tournament-header-tourneycity {
		font-size: 0.95rem;
	}
	.tournament-header-tourneycourse {
		font-size: 0.95rem;
	}
	.tournament-header-tourneypar {
		font-size: 0.95rem;
	}
}

@media only screen and (min-width: 767px) {
	.tournament-header-tourneyname {
		font-size: 1.8rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.5rem;
	}
	.tournament-header-tourneycity {
		font-size: 1.1rem;
	}
	.tournament-header-tourneycourse {
		font-size: 1.1rem;
	}
	.tournament-header-tourneypar {
		font-size: 1.1rem;
	}
}

@media only screen and (min-width: 990px) {
	.tournament-header-tourneyname {
		font-size: 2rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.8rem;
	}
	.tournament-header-tourneycity {
		font-size: 1.3rem;
	}
	.tournament-header-tourneycourse {
		font-size: 1.3rem;
	}
	.tournament-header-tourneypar {
		font-size: 1.3rem;
	}
}