.leaderboard-header-container {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(20, 1fr);
	border-bottom: 2px solid #222;
}

.leaderboard-header-container div {text-align: center;font-family:"Varela Round";place-self: center;padding:0.25rem 0.1rem;}
.leaderboard-header-logo {grid-area: 1/1/4/5;place-self: center;}
.leaderboard-header-logo img {display: block;max-width: 100%;max-height: 150px;}
.leaderboard-header-tourneyname {grid-area: 1/5/3/16;font-size: 1.3rem;font-weight: bold;}
.leaderboard-header-toggleswitch {grid-area: 1/16/2/21;}
.leaderboard-header-tourneydate {grid-area: 2/15/3/21;font-size: 0.9rem;}
.leaderboard-header-tourneycity {grid-area: 3/11/4/17;font-size: 0.7rem;}
.leaderboard-header-tourneycourse {grid-area: 3/4/4/11;font-size: 0.7rem;}
.leaderboard-header-tourneypar {grid-area: 3/17/4/21;font-size: 0.6rem;}
.leaderboard-header-live-button, .leaderboard-header-tournament-toggle {font-size: 0.7rem;color: #000;background-color: #bbb;border: 1px solid #9a9a9a;}

@media only screen and (min-width: 450px) {
	.tournament-header-tourneyname {
		font-size: 1.3rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.05rem;
	}
	.tournament-header-tourneycity {
		font-size: 0.85rem;
	}
	.tournament-header-tourneycourse {
		font-size: 0.85rem;
	}
	.tournament-header-tourneypar {
		font-size: 0.85rem;
	}
}


@media only screen and (min-width: 575px) {
	.tournament-header-tourneyname {
		font-size: 1.5453rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.3rem;
	}
	.tournament-header-tourneycity {
		font-size: 0.95rem;
	}
	.tournament-header-tourneycourse {
		font-size: 0.95rem;
	}
	.tournament-header-tourneypar {
		font-size: 0.95rem;
	}
}

@media only screen and (min-width: 767px) {
	.tournament-header-tourneyname {
		font-size: 1.8rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.5rem;
	}
	.tournament-header-tourneycity {
		font-size: 1.1rem;
	}
	.tournament-header-tourneycourse {
		font-size: 1.1rem;
	}
	.tournament-header-tourneypar {
		font-size: 1.1rem;
	}
}

@media only screen and (min-width: 990px) {
	.tournament-header-tourneyname {
		font-size: 2rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.8rem;
	}
	.tournament-header-tourneycity {
		font-size: 1.3rem;
	}
	.tournament-header-tourneycourse {
		font-size: 1.3rem;
	}
	.tournament-header-tourneypar {
		font-size: 1.3rem;
	}
}